.form-floating>.form-control{
  height: 50px!important;
  min-height: 0;
  /* background-color: rgb(0 0 0 / 2%); */
  box-shadow: rgb(0 0 0 / 6%) 0px 1px 4px;
}
.form-floating>.form-control:not(:placeholder-shown)~label::after{
  background-color: transparent!important;
}
.form-floating>.form-control:hover{
background-color: rgb(0 0 0 / 2%);
}
.form-main-div{
/* border: 1px solid;   */
}
.form-div1{
display: grid;
grid-template-columns: 48% 48%;
gap: 1rem;
margin-bottom: 1rem;
}

.form-div2{
  display: grid;
  grid-template-columns: 48% 48%;
  gap: 1rem;
  margin-bottom: 0.5rem;
}

.create-comp-button{
  background-color: #4CB9E7;
  padding: 10px 16px;
  color: white;
  border-radius: 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.create-comp-button:hover{
  background-color: #3caada; 
}
.country-all-select{
  width: 100%!important;
  margin-bottom: 0.5rem;
}
.country-all-select:hover{
  box-shadow: none!important;
}
.css-otdvvq-control {
  height: 50px!important;
}
.css-yndcp5-placeholder{
  margin-left: 5px!important;
  /* margin-bottom: 20px!important;      */
}
.css-hlgwow{
  height: 50px!important;
}
.attach-div{
  box-shadow: rgb(0 0 0 / 6%) 0px 1px 4px;
  background-color: white;
  border-radius: 5px;
  padding: 5px 10px;
  border: var(--bs-border-width) solid var(--bs-border-color);
}
.custom-file{
  height: 35px;
  padding-top: 3px;
}
.custom-file-input{
  height: 35px;
  font-size: 12.5px;
}
.attach-div:hover{
  background-color: rgb(0 0 0 / 2%);
}
.edit-btn-div{
 
  gap: 0.5rem;
}
.submit-div{
  margin-right: 1.5rem;
}


@media only screen and (max-width: 980px){
  .form-div1, .form-div2{
    gap: 0;
  }
  .div1-left,.div1-right,.div2-left,.div2-right{
    width: 98%;
  }
}
@media only screen and (max-width: 935px){
  .form-div1, .form-div2{
    grid-template-columns: 100%;
  }
  .submit-div{
    width: 98%;
  }
  
}
@media only screen and (max-width: 800px){
  .div1-left,.div1-right,.div2-left,.div2-right{
    width: 100%;
  }
  .submit-div{
    width: 100%;
  }
}

