.notify-div-main{
    display: grid;
    grid-template-columns: 48% 48%;
    gap: 2rem;
    width: 90%;
    margin: 1rem auto 1.5rem auto;   
}
.notify-div{
    border: 1px solid rgba(207, 158, 207, 0.363);
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.notify-title{
    background: rgb(207 158 207 / 25%);
    padding:  1rem;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
.notify-title h4{
    text-align: center; 
}
.notify-text{
    padding: 0.5rem 1rem;
    text-align: justify;
}
.notify-text p{
    margin-bottom: 15px;
}