.profileSettings{
  /* border: 1px solid rgb(233, 228, 228);  */
  margin: 1.7rem 0 1rem 0;
  padding: 1rem 1.3rem;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border-radius: 5px;
}
.pro-div{
  /* background: rgba(219, 218, 218, 0.527);  */
  border-radius: 5px;

}
.pro-input{
  width: 100%;
  background: rgba(219, 218, 218, 0.322);
  height: 55px;
  padding-left: 13px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
  color: grey;
}
.pro-edit-btn{
  /* background: skyblue; */
  /* display: block; */
  position: absolute;
  top: 16px;
  right: 15px;
  /* padding: 5px 10px; */
  border-radius: 5px;
  font-size: 15px;
  color: #bc40df;
}
.pro-edit-btn .edit-icon {
  display: none;
}
.change-pswd-btn{
  background: #bd40df6e;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  font-size: 15px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
}
.change-pswd-btn:hover{
  background: #bd40df61;
}
.pswd-input{
  color: rgba(0, 0, 0, 0.685); 
  height: 48px;
  width: 100%;
  border: 1px solid grey;
  font-size: 14px;
  padding: 0 0.5rem 0 0.8rem;
  border: none;
  background: #e9ecef82;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgb(0 0 0 / 6%) 0px 1px 2px;
}
.pswd-input:focus {
  outline: none!important; /* Remove default focus outline */
  border: 1px solid rgba(83, 211, 228, 0.438)!important;
  background: white!important;
  box-shadow: none!important;
}
.pswd-body{
  padding: 0 1.3rem;
}
.pswd-footer{
  border-top: none;
  padding: 1.2rem 1rem;
}
.pswd-btn{
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  padding: 8px 16px;
  border-radius: 5px;
  background: #d862bca1;
  color: white;
  border: none;
}
.pswd-btn2{
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  padding: 8px 16px;
  border-radius: 5px;
  border: 1px solid #d862bc88;
  color: #d862bcb4;
}
.form-pswd-div{
  margin-top: 1rem;
}
.accountSettings{
  display: flex;
  /* flex-wrap: wrap; */
  gap: 2rem;
  margin: 1.7rem 0 1rem 0;
  /* border: 1px solid;  */
}

/* .settings-section {
  width: 100%;
}

.settings-header {
  margin-bottom: 1.5rem;
} */

.add-div {
  display: flex;
  flex-direction: column;
}

.Settings{
  width: 90%;
  margin:  0.3rem auto 1.2rem auto;
 
}
#fromDay, #toDay{
    padding: 0 8px;
    height: 35px;
    width: 100px;
    box-shadow: rgba(160, 159, 159, 0.12) 0px 1px 2px, rgba(141, 140, 140, 0.06) 0px 1px 2px;
}
#fromDay:focus {
  outline: none!important; /* Remove default focus outline */
  border: 1px solid rgba(83, 211, 228, 0.438)!important;
  background: white!important;
  box-shadow: none!important;
}
 #toDay:focus {
  outline: none!important; /* Remove default focus outline */
  border: 1px solid rgba(83, 211, 228, 0.438)!important;
  background: white!important;
  box-shadow: none!important;
}
.work-select{
  padding: 0 5px 0 8px;
  height: 35px;
  width: 62px; 
  box-shadow: rgba(160, 159, 159, 0.12) 0px 1px 2px, rgba(141, 140, 140, 0.06) 0px 1px 2px;
}
.work-select:focus {
  outline: none!important; /* Remove default focus outline */
  border: 1px solid rgba(83, 211, 228, 0.438)!important;
  background: white!important;
  box-shadow: none!important;
}
.h2-base {
  cursor: pointer;
  font-family: sans-serif;
  font-size: 18px;
}

/* Styles for active tab */
.h2-active {
  text-decoration: underline;
  color: #BC7FCD;
}

/* Styles for inactive tab */
.h2-inactive {
  color: gray;
  transition: color 0.3s;
}

.h2-inactive:hover {
  color: #BC7FCD;
}

@media only screen and (max-width: 955px){
  .reg-modal-div{
    justify-content: center;
  }
  .reg-modal-main{
    width: 100%;
  }
  .reg-modal-div h4{
    font-size: 11px;
  }
  .reg-modal-div span{
    font-size: 11px;
  }
  .inner-schedule{
    margin: 1rem!important;
  }
  .reg-btn-div{
    margin: 1rem!important;
  }
}
@media only screen and (max-width: 715px){
  .accountSettings {
   display: block;
  }
  .settings-section {
    width: 50%;
  }
  .setting-w{
    width: 100%!important;
    margin-bottom: 1rem;
  }
  .add-div{
    margin-top: 1rem;
  }
  .border-line{
    display: none;
  }
  /* .settings-section {
    width: 100%;
  }
  .settings-header {
    margin-bottom: 1.5rem;
  }  */
}
@media only screen and (max-width: 795px){
  .accountSettings{
    gap: 1rem;
  }
  .user-p{
    font-size: 15px;
  }
}
@media only screen and (max-width: 767px){
  .set-tab-div{
    width: 50%!important;
  }
}
@media only screen and (max-width: 664px){
  .set-tab-div h2{
    padding: 0.5rem!important;
    width: 100%!important;
  }
}
@media only screen and (max-width: 600px){
  .reg-modal-div h4{
    width:100px;
  }
  .react-responsive-modal-modal{
    margin-top: 1.5rem;
  }
  .set-tab-div{
    width: 55%!important;
  }
}
@media only screen and (max-width: 560px){
  .profileSettings{
    padding: 0.8rem 0.5rem;
  }
  .set-tab-div{
    width: 60%!important;
  }
  .h2-base {
    font-size: 14px;
  }
  .h2-active {
    font-size: 14px;
  }
  .pro-input {
    font-size: 13.3px;
    height: 40px;
  }
  .pro-edit-btn .edit-icon {
    font-size: 13px;
  }
  .change-pswd-btn {
    padding: 8px 14px;
    font-size: 14px;
}
  
  .pro-edit-btn .edit-text {
    display: none;
  }
  .pro-edit-btn .edit-icon {
    display: inline-block;
  }

  .accountSettings h3{
    font-size: 15px;
  }
  .accountSettings button{
    font-size: 14px;
    padding: 5px 10px!important;
  }
  .accountSettings {
    gap: 0.5rem;
}
.add-div{
  margin-top: 1.3rem!important;
}
  .user-p {
    font-size: 13px;
}
  .change-pswd-btn {
    padding: 8px 14px;
    font-size: 14px;
}

  /* .Settings{
    padding: 1rem 0.6rem;
  } */
  .Settings h3{
    font-size: 14px;
  }
  .Settings span{
    font-size: 13px;
  }
  .Settings p{
    font-size: 14px;
  }
  #fromDay, #toDay{
    height: 30px;
    width: 95px;
}
.work-select{
  height: 30px;
}
}
@media only screen and (max-width: 530px){
  .react-responsive-modal-modal{
    width: 95%;
  }
  .inner-schedule{
    margin: 1rem 0.5rem!important;
    padding: 0.5rem 0!important;
  }
  .reg-btn-div{
    margin: 1rem 0.5rem!important;
  }
  .exp-img{
    height: 12px!important;
    width: 12px!important;
  }
  .reg-expand{
    gap: 0.8rem!important;
    font-size: 14px;
  }
}

@media only screen and (max-width: 510px){
  .set-tab-div h2{
    padding: 8px!important;
    font-size: 12px!important;
  }
}
@media only screen and (max-width: 500px){
  .Settings{
    width: 95%;
  }
  .Settings h3 {
    width: 100px;
    font-size: 13px;
}
.Settings p{
  font-size: 13px;
}
.reg-modal-div{
  display: block;
}
.reg-inner-div1{
  margin-bottom: 0.2rem;
 
}
.reg-inner-div{
  gap: 0.2rem!important;
}
}
@media only screen and (max-width: 477px){
  #fromDay, #toDay {
    font-size: 11px;
    width: 90px;
}
.work-select {
  width: 55px;
  font-size: 11px;
}
}
@media only screen and (max-width: 465px){
 .Settings span{
  margin-right: 5px;
 }
 #fromDay, #toDay {
  margin-right: 5px!important;
  width: 85px;
}
}
@media only screen and (max-width: 440px){
  .set-tab-div{
    width: 68%!important;
  }
} 
@media only screen and (max-width: 435px){
  .profileSettings{
    padding: 0.8rem 0.5rem;
  }
  .h2-base {
    font-size: 14px;
  }
  .h2-active {
    font-size: 14px;
  }
  .pro-input {
    font-size: 13.3px;
    height: 40px;
  }
  .pro-edit-btn .edit-icon {
    font-size: 13px;
  }
  .change-pswd-btn {
    padding: 8px 14px;
    font-size: 14px;
}
}
@media only screen and (max-width: 400px){
  .set-tab-div{
    width: 75%!important;
  }
} 
@media only screen and (max-width: 398px){
  #toDay{
    margin-top: 8px;
    margin-left: 8px;
  }
}