.profileSettings{
  /* border: 1px solid rgb(233, 228, 228);  */
  margin: 1.7rem 0 1rem 0;
  padding: 1rem 1.3rem;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border-radius: 5px;
}
.pro-div{
  /* background: rgba(219, 218, 218, 0.527);  */
  border-radius: 5px;

}
.pro-input{
  width: 100%;
  background: rgba(219, 218, 218, 0.322);
  height: 55px;
  padding-left: 13px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
  color: grey;
}
.pro-edit-btn{
  /* background: skyblue; */
  position: absolute;
  top: 16px;
  right: 15px;
  /* padding: 5px 10px; */
  border-radius: 5px;
  font-size: 15px;
  color: #bc40df;
}
.change-pswd-btn{
  background: #bd40df6e;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  font-size: 15px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
}
.change-pswd-btn:hover{
  background: #bd40df61;
}
.pswd-input{
  color: rgba(0, 0, 0, 0.685); 
  height: 48px;
  width: 100%;
  border: 1px solid grey;
  font-size: 14px;
  padding: 0 0.5rem 0 0.8rem;
  border: none;
  background: #e9ecef82;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgb(0 0 0 / 6%) 0px 1px 2px;
}
.pswd-input:focus {
  outline: none!important; /* Remove default focus outline */
  border: 1px solid rgba(83, 211, 228, 0.438)!important;
  background: white!important;
  box-shadow: none!important;
}
.pswd-body{
  padding: 0 1.3rem;
}
.pswd-footer{
  border-top: none;
  padding: 1.2rem 1rem;
}
.pswd-btn{
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  padding: 8px 16px;
  border-radius: 5px;
  background: #d862bca1;
  color: white;
  border: none;
}
.pswd-btn2{
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  padding: 8px 16px;
  border-radius: 5px;
  border: 1px solid #d862bc88;
  color: #d862bcb4;
}
.form-pswd-div{
  margin-top: 1rem;
}
.accountSettings{
  display: flex;
  gap: 2rem;
  margin: 1.7rem 0 1rem 0;
  /* border: 1px solid;  */
}
.Settings{
  margin: 1.7rem 0 1rem 0;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgb(0 0 0 / 6%) 0px 1px 2px;
}
#fromDay, #toDay{
    padding: 0 8px;
    height: 35px;
    width: 100px;
    box-shadow: rgba(160, 159, 159, 0.12) 0px 1px 2px, rgba(141, 140, 140, 0.06) 0px 1px 2px;
}
#fromDay:focus {
  outline: none!important; /* Remove default focus outline */
  border: 1px solid rgba(83, 211, 228, 0.438)!important;
  background: white!important;
  box-shadow: none!important;
}
 #toDay:focus {
  outline: none!important; /* Remove default focus outline */
  border: 1px solid rgba(83, 211, 228, 0.438)!important;
  background: white!important;
  box-shadow: none!important;
}
.work-select{
  padding: 0 5px 0 8px;
  height: 35px;
  width: 62px; 
  box-shadow: rgba(160, 159, 159, 0.12) 0px 1px 2px, rgba(141, 140, 140, 0.06) 0px 1px 2px;
}
.work-select:focus {
  outline: none!important; /* Remove default focus outline */
  border: 1px solid rgba(83, 211, 228, 0.438)!important;
  background: white!important;
  box-shadow: none!important;
}


@media only screen and (max-width: 795px){
  .accountSettings{
    gap: 1rem;
  }
  .user-p{
    font-size: 15px;
  }
}