.super-admin-dash{
  padding-left: 3.5rem;
  padding-right: 3.5rem;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  /* background: #f3f7f9b0; */
}
#chart, .appoint-bar, .recent-reg{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px!important;
}
.custom-modal-header{
    display: flex;
    justify-content: space-between;
    padding: 1.3rem 1rem;
    background: #db7dc583;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
 }
 .custom-modal-header h4{
  width: 100%;
  text-align: center;
  color: white;
 }
 .custom-modal {
  max-width: 600px; /* adjust as needed */
  min-height: 300px; /* adjust as needed */
  margin-top: 2rem;
 }
 .modal-title{
    width: 100%;
    text-align: center;
    color: white;
    font-size: 18px;
  }
  .noti-input{
    color: rgba(0, 0, 0, 0.685); 
    height: 48px;
    width: 100%;
    font-size: 14px;
    padding: 0 0.5rem 0 0.8rem;
    border: none;
    background: #e9ecef82;
    cursor: pointer;
    margin-top: 8px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgb(0 0 0 / 6%) 0px 1px 2px
  }
  .noti-input2{
    height: 70px;
    color: rgba(0, 0, 0, 0.685); 
    width: 100%;
    font-size: 14px;
    padding: 1rem 0.5rem 0 0.8rem;
    border: none;
    border-radius: 5px;
    background: #e9ecef82;
    cursor: pointer;
    margin-top: 8px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgb(0 0 0 / 6%) 0px 1px 2px
  }
  .noti-input2:focus {
    outline: none!important; /* Remove default focus outline */
    border: 1px solid rgba(83, 211, 228, 0.438)!important;
    background: white!important;
    box-shadow: none!important;
}
  .noti-body{
    padding: 1rem 1.5rem 0 1.5rem;
  }
  .Noti-btn-div{
    display: flex;
    gap: 1rem;
    justify-content: end;
    margin: 1.7rem 0 1.7rem 0;
  }
  .Noti-btn{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 5px 15px;
    border-radius: 5px;
    background: #d862bc98;
    color: white;
  }
  .Noti-btn2{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 5px 15px;
    border-radius: 5px;
    border: 1px solid #d862bca6;
    color: #d862bcc0;
  }
  .noti-div-main{
    display: grid;
    grid-template-columns: 42% 42%;
    gap: 2rem;
    width: 100%; 
    margin: 2rem 0 1rem 0;
}
.noti-div{
    border: 1px solid rgba(207, 158, 207, 0.363);
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.noti-title{
    background: #d862bc38;
    padding:  1rem;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    text-align: center;
    color: #0000008c;
}
.recent-reg h2{
  color: #D862BC!important;
  font-size: 18px!important;
}
.react-responsive-modal-modal{
  margin-top: 3rem;
}


@media only screen and (max-width: 1075px) {
  .super-admin-dash{
      padding-left: 1rem!important;
      padding-right: 1rem!important;
  }
  .bar-main{
    width: 95%!important;
    display: grid!important;
    gap: 0.5rem!important;
    grid-template-columns: 60% 40%!important;
  }
  #chart, .appoint-bar{
    width: 100%!important;
    height: 95%!important;
    padding: 0.8rem!important;
  }
  .css-1howxi1-MuiTableCell-root{
    font-size: 13px!important;
    padding: 6px 8px !important;
  }
  .see-btn{
    margin-left: 0.5rem!important;
  }
  .css-dsuxgy-MuiTableCell-root{
    font-size: 12px!important;
    padding: 6px!important;
  }
  .chart-no{
    margin-top: 10px!important;
  }
  .recent-reg{
    width: 96%!important;
    padding: 0.8rem!important;
  }
}
@media only screen and (max-width: 1055px){
  .css-1howxi1-MuiTableCell-root, .css-dsuxgy-MuiTableCell-root, .css-13njpue, .css-1o6fzn1 {
    font-size: 13px!important;
    padding: 6px!important;
  }
}

@media only screen and (max-width: 1035px){
  .apexchartsvn8n9tqb, .apexchartso3p2efus{
    height: 155px!important;
  }
}
@media only screen and (max-width: 1040px) {
  .chart-heading h3{
    font-size: 14px;
  }
  .chart-heading{
    margin-top: 20px;
  }
  /* .bar-main{
  grid-template-columns: 100%!important;
  width: 96%!important;
}
#chart{
  height: 100%!important;
}
.chart-second-div{
  display: grid;
  grid-template-columns: 60% 40%;
}
.chart-heading{
  padding: 2rem 1rem;
} 
.appoint-bar{
  max-width: 100%!important;
} */
} 
@media only screen and (max-width: 620px){
  .chart-heading h3{
    font-size: 13px;
  }
  .css-dsuxgy-MuiTableCell-root{
  font-size: 11.5px!important;
}
}
@media only screen and (max-width: 600px){
  .css-1howxi1-MuiTableCell-root, .css-dsuxgy-MuiTableCell-root, .css-13njpue, .css-1o6fzn1 {
    text-align: center!important;
    font-size: 11px!important;
  }
  .name-cell{
    text-align: left!important;
  }
}
@media only screen and (max-width: 500px){
  .recent-reg{
    padding: 0.8rem 0!important;
  }
  .recent-reg h2{
    padding: 0 0.8rem!important;
  }
  /* .css-gi7hi0-MuiTypography-root{
    padding: 0 0.8rem!important;
  } */
}

@media only screen and (max-width: 995px) {
  .year {
    display: none;
  }
  .location, .email {
    display: none!important;
  }
 
  .bar-main{
  grid-template-columns: 100%!important;
  width: 96%!important;
}
#chart{
  height: 100%!important;
}
/* .chart-second-div{
  display: grid;
  grid-template-columns: 60% 40%;
} */
/* .chart-heading{
  padding: 2rem 1rem;
}  */
.appoint-bar{
  max-width: 100%!important;
} 
}
@media only screen and (max-width: 566px){
  .bar-main{
    width: 100%!important;
  } 
  .recent-reg{
    width: 100%!important;
  }
}
@media only screen and (max-width: 383px){
  .super-admin-dash {
    padding-left: 0.5rem !important;
    padding-right: 0.5rem !important;
}
}