.customButton {
  top: 12px;
  right: 14px;
  /* visibility: hidden; */
}
.customModal {
  background-color: aliceblue;
}
.customModal3 {
  width: auto;
  /* min-width: 35%; */
  height: auto;
}
.mobile-view{
  display: none;
}



@media only screen and (max-width: 768px){
  .desktop-view{
    display: none;
  }
  .mobile-view{
    display: block;
  }
  .bg-div{
    padding: 0.8rem 0.5rem 0.5rem 0.8rem;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  }
  .resp-service{
    padding: 0.25rem 0.5rem;
  }
  .resp-status{
    padding: 0.25rem 0.5rem;
  }
  .resp-time{
    padding: 0.25rem 0.5rem;
  }
}
@media only screen and (max-width: 1075px){
  th{
    font-size: 15px;
  }
  td{
    font-size: 13.2px;
  }
  .item-d{
    font-size: 11.5px;
  }
  .notify-text{
    font-size: 13.2px;
  }
}
